/**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/
 * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 }

 a {
  color: #03658c;
  text-decoration: none;
 }

ul {
  list-style-type: none;
}

body {
  font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
  background: #dee1e3;
}

/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
  margin: 60px auto 15px;
  width: 768px;
}

.comments-container h1 {
  font-size: 36px;
  color: #283035;
  font-weight: 400;
}

.comments-container h1 a {
  font-size: 18px;
  font-weight: 700;
}

.comments-list {
  margin-top: 30px;
  position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
  content: '';
  width: 2px;
  height: 100%;
  background: #c7cacb;
  position: absolute;
  left: 32px;
  top: 0;
}

.comments-list:after {
  content: '';
  position: absolute;
  background: #c7cacb;
  bottom: 0;
  left: 27px;
  width: 7px;
  height: 7px;
  border: 3px solid #dee1e3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
  content: '';
  width: 60px;
  height: 2px;
  background: #c7cacb;
  position: absolute;
  top: 25px;
  left: -55px;
}


.comments-list li {
  margin-bottom: 15px;
  display: block;
  position: relative;
}

.comments-list li:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  width: 0;
}

.reply-list {
  padding-left: 88px;
  clear: both;
  margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
  width: 65px;
  height: 65px;
  position: relative;
  z-index: 99;
  float: left;
  border: 3px solid #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  overflow: hidden;
}

.comments-list .comment-avatar img {
  width: 100%;
  height: 100%;
}

.reply-list .comment-avatar {
  width: 50px;
  height: 50px;
}

.comment-main-level:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
  width: 680px;
  float: right;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border-width: 10px 12px 10px 0;
  border-style: solid;
  border-color: transparent #FCFCFC;
  top: 8px;
  left: -11px;
}

.comments-list .comment-box:before {
  border-width: 11px 13px 11px 0;
  border-color: transparent rgba(0,0,0,0.05);
  left: -12px;
}

.reply-list .comment-box {
  width: 610px;
}
.comment-box .comment-head {
  background: #FCFCFC;
  padding: 10px 12px;
  border-bottom: 1px solid #E5E5E5;
  overflow: hidden;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
  float: right;
  margin-left: 14px;
  position: relative;
  top: 2px;
  color: #A6A6A6;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
  color: #03658c;
}

.comment-box .comment-name {
  color: #283035;
  font-size: 14px;
  font-weight: 700;
  float: left;
  margin-right: 10px;
}

.comment-box .comment-name a {
  color: #283035;
}

.comment-box .comment-head span {
  float: left;
  color: #999;
  font-size: 13px;
  position: relative;
  top: 1px;
}

.comment-box .comment-content {
  background: #FFF;
  padding: 12px;
  font-size: 15px;
  color: #595959;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
  content: 'autor';
  background: #03658c;
  color: #FFF;
  font-size: 12px;
  padding: 3px 5px;
  font-weight: 700;
  margin-left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
  .comments-container {
    width: 480px;
  }

  .comments-list .comment-box {
    width: 390px;
  }

  .reply-list .comment-box {
    width: 320px;
  }
}

/*FIN*/

  .author-post
  {
    width: 500px;
    height: 335px;
    border: none;
    margin: auto;
    background: #f2f2f2;
  }
  .photo
  {
    width: 55px;
    height: 55px;
    border-radius: 25px;
    float: left;
    position: relative;
    left: 5px;
  }
  .title
  {
    width: 150px;
    height: 20px;
    background: #FBFCFC;
    color: #333;
    position: relative;
    left: 72px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
  }
  .name
  {
    width: 65px;
    height: 20px;
    background:#FBFCFC;
    color: #333;
    float: left;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    left: 5px;
    top: 4px;
    text-align: center;
    border-radius: 5px;
  }
  .message
  {
    margin: auto;
    border-radius: 5px;
    background: #FBFCFC;
    color: #333;
    width: 350px;
    height: 200px;
    font-weight: bold;
    padding-bottom: 14px;
  }
  #fass
  {
    font-size: 20px;
    cursor: pointer;
  }
  .like
  {
    height: 25px;
    width: 40px;
    float: left;
    border-radius: 7px;
    background: #333;
    color: #fff;
  }
  .like:hover
  {
    background: #2980B9;
    color: #fff;
    transform:scale(1.3);
    border-radius: 10px;
  }
  .like:active
  {
    background: #2980B9;
    color: #fff;
    transform:scale(1.1);
    border-radius: 15px;
  }
  .dislike
  {
    height: 25px;
    width: 40px;
    display: inline-block;
    border-radius: 7px;
    background: #333;
    color: #fff;
  }
  .dislike:hover
  {
    background: #EA2607;
    color: #fff;
    transform:scale(1.3);
    border-radius: 10px;
  }

  .dislike:active
  {
    background: #EA2607;
    color: #fff;
    transform:scale(1.1);
    border-radius: 15px;
  }
  .pouce
  {
    padding: 10px 10px 10px 10px;
    left: 65%;
    position: relative;
  }


.siteForm
{
 position: relative;
 min-height: 100vh;
 padding: 50px 100px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background: url(map.png);
 background-size: cover;
}
.siteForm .content
{
 max-width: 800px;
 text-align: center;
}
h1
{
 color: #00bcd4;
 font-weight: 700px;
}
.siteForm .content p
{
 font-weight: 300px;
 color: black;
}
.icon .text  p
{
 color: black;
 font-weight: 500px;
 text-align: center;
}
p
{
 color: black;
 font-weight: 500px;
 text-align: center;
}
.connex
{
 font-size: 45px;
 font-weight: bold;
 color: #fff;
 text-align: center;
 background: #00bcd4;
 border: 3.5px solid #00bcd4;
 width: 100%;
 cursor: none;
}
.containe
{
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 30px;
}
.containe .contactInfo
{
 width: 50%;
 min-width: 30%;
 display: flex;
 flex-direction: column;
}
.containe .contactInfo .box
{
 position: relative;
 padding: 20px 0;
 display: flex;
}
.containe .contactInfo .box .icon
{
 min-width: 60px;
 height: 60px;
 background: #ECF0F1;
 justify-content: center;
 display: flex;
 align-items: center;
 border-radius: 50%;
 font-size: 22px;
}
.containe .contactInfo .box .text
{
 display: flex;
 margin-left: 20px;
 font-size: 16px;
 color: #ECF0F1;
 flex-direction: column;
 font-weight: 300;
}
.containe .contactInfo .box .text h3
{
 font-weight: 500px;
 color: #00bcd4;
}
.contactForm
{
 width: 55%;
 min-width: 30%;
 padding: 40px;
 background: #ECF0F1;
}
.contactForm h2
{
 font-size: 30px;
 color: #333;
 font-weight: 500px;
}
.contactForm .inputBox
{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input, 
.contactForm .inputBox textarea
{
  max-width: 100%;
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  max-height: 130px;
  background: #ECF0F1;
}
.contactForm .inputBox label
{
 position: absolute;
 left: 0;
 font-size: 16px;
 padding: 5px 0;
 pointer-events: none;
 transition: 0.5s;
 color: #666;
}
.contactForm .inputBox input:focus ~ label, /*Pour faire reculer le texte de placeholder*/
.contactForm .inputBox input:valid ~ label /*Pour limiter la position du texte de placeholder après avoir rempli les champs*/
{
  color: #399;
  font-size: 12px;
  transform: translateY(-20PX);
}
.contactForm .inputBox textarea:focus ~ label,
.contactForm .inputBox textarea:valid ~ label
{
  color: #399;
  font-size: 12px;
  transform: translateY(-20PX);
}
.contactForm .inputBox input[type="submit"]
{
 width: 150px;
 background: #00bcd4;
 color: #fff;
 cursor: pointer;
 padding: 10px;
 font-size: 18px;
 border: 3.5px solid #00bcd4;
 border-radius: 25px;
}
.send:hover
{
  transform: scale(1.2);
}
@media (max-width: 991px)
{
	.contact
	{
		padding: 50px;
	}
	.containe
	{
	    flex-direction: column;
	}
	.containe .contactInfo
	{
	    margin-bottom: 40px;
	}
	.containe .contactInfo,
	.contactForm
	{
		width: 100%;
	}

}
.send
{
 width: 120px;
 background: #00bcd4;
 color: #fff;
 cursor: pointer;
 padding: 10px;
 font-size: 18px;
 border: 3.5px solid #00bcd4;
 font-weight: bold;
}
.send:hover
{
  transform: scale(1.2);
}
