@import url('https://fonts.googleapis.com/css2?family=Poppins:wgth@200;300;400;500;600;700;800;900&display=swap');
*
{
 /*box1-sizing: border-box1;*/
 font-family: 'Poppins' , sans-serif;
}
.contact
{
 position: relative;
 min-height: 100vh;
 padding: 50px 100px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background: url(../../images2/map.png);
 background-size: cover;
}
.contact .content
{
 max-width: 800px;
 text-align: center;
}
.contact .content p
{
 font-size: 7px;
 color: #333;

}
p
{
 color: #333;
 font-size: 15px;
}
.contact form h2
{
 font-size: 40px;
 font-weight: 500px;
 color: #fff;
 text-align: center;
 background: #d4a81e;
 border: 3.5px solid #d4a81e;
 border-radius: 25px;
}
h1
{
 color: #d4a81e;
 font-weight: 700px;
}
.container
{
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 30px;
}
.container .contactInfo
{
 width: 50%;
 min-width: 30%;
 display: flex;
 flex-direction: column;
}
.container .contactInfo .box1
{
 position: relative;
 padding: 20px 0;
 display: flex;
}
.container .contactInfo .box1 .icon
{
 min-width: 60px;
 height: 60px;
 background: #ECF0F1;
 justify-content: center;
 display: flex;
 align-items: center;
 border-radius: 50%;
 font-size: 22px;
}
.container .contactInfo .box1 .text
{
 display: flex;
 margin-left: 20px;
 font-size: 16px;
 color: #ECF0F1;
 flex-direction: column;
 font-weight: 300;
}
.container .contactInfo .box1 .text h3
{
 font-weight: 500px;
 color: #d4a81e;
}
.contactForm
{
 width: 70%;
 min-width: 30%;
 padding: 40px;
 background: #ECF0F1;
}
.contactForm h2
{
 font-size: 30px;
 color: #333;
 font-weight: 500px;
}
.contactForm .inputbox1
{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputbox1 input, 
.contactForm .inputbox1 textarea
{
  max-width: 100%;
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  max-height: 130px;
  background: #ECF0F1;
}
.contactForm .inputbox1 label
{
 position: absolute;
 left: 0;
 font-size: 16px;
 padding: 5px 0;
 pointer-events: none;
 transition: 0.5s;
 color: #666;
}
.contactForm .inputbox1 input:focus ~label, /*Pour faire reculer le texte de placeholder*/
.contactForm .inputbox1 input:valid ~label /*Pour limiter la position du texte de placeholder après avoir rempli les champs*/
{
  color: #399;
  font-size: 12px;
  transform: translateY(-20PX);
}
.contactForm .inputbox1 textarea:focus ~label,
.contactForm .inputbox1 textarea:valid ~label
{
  color: #399;
  font-size: 12px;
  transform: translateY(-20PX);
}
.contactForm .inputbox1 input[type="submit"]
{
 width: 150px;
 background: #d4a81e;
 color: #fff;
 cursor: pointer;
 padding: 10px;
 font-size: 18px;
 border: 3.5px solid #d4a81e;
 border-radius: 25px;
}
.send:hover
{
  transform: scale(1.2);
}
@media (max-width: 991px)
{
	.contact
	{
		padding: 50px;
	}
	.container
	{
	    flex-direction: column;
	}
	.container .contactInfo
	{
	    margin-bottom: 40px;
	}
	.container .contactInfo,
	.contactForm
	{
		width: 100%;
	}

}
.send
{
 width: 120px;
 background: #d4a81e;
 color: #fff;
 cursor: pointer;
 padding: 10px;
 font-size: 18px;
 border: 3.5px solid #d4a81e;
 border-radius: 25px;
 font-weight: bold;
}
.send:hover
{
  transform: scale(1.2);
}
